@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@300;700&family=Raleway&display=swap');
:root{
    --colorPrinicpal: red;
}
* {
    font-family: 'Raleway', sans-serif;
}
header p{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}
h1{
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 64px;
    margin-left: 0em;
}
section{
    margin-left: 2em;
}
header{
    margin-right: 6em;
    margin-bottom: 1em;
    margin-left: 6em;
}
.tot{
    text-align: justify;
    margin-left: 4em;
    margin-right: 4em;
    margin-bottom: 3em;
}
p span{
    color: var(--colorPrinicpal);
    font-size: 24px;
}
ul {
    margin-top: 1em;
    marker: unset;
}
li {
    margin-top: 0.5em;
    marker: unset;
}
ul li::marker{
    content: "";
}
ul li::before {
    content: ">";
    color: var(--colorPrinicpal);
    font-size: 1em;
    background: #EDE9E9;
    border-radius: 1ch;
    padding-inline: 1ch;
    margin-inline-end: 1ch;
}
ul li ul li::before {
    content: ">>  ";
    color: var(--colorPrinicpal);
    font-size: 1em;
    background: #EDE9E9;
    border-radius: 1ch;
    padding-inline: 1ch;
    margin-inline-end: 1ch;
}
.costat {
    display: block;
    top: 10px;
    right: 0;
    position: absolute;
}
.costat-img img {
    
    height: auto;
    width: 50%;
}

@media screen and (max-width: 600px) {
    header p{
        font-family: 'Raleway', sans-serif;
        font-size: 12px;
    }
    h1{
        font-family: 'Hanken Grotesk', sans-serif;
        font-size: 64px;
        margin-left: 0.4em;
    }
    section{
        margin-left: 2em;
        margin-right: 2em;
        margin-bottom: 3em;
    }
    header{
        width: 100%;
        margin-right: 6em;
        margin-bottom: 1em;
        margin-left: 6em;
    }
    .tot{
        text-align: justify;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
    }
    p span{
        color: var(--colorPrinicpal);
        font-size: 19px;
    }
}