@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@300;700&family=Raleway&display=swap');
:root{
    --colorPrinicpal: red;
    --fons_div: #ffffff;
}
* {
    font-family: 'Raleway', sans-serif;
}
header p{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}
h1{
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 64px;
    margin-left: 0em;
}
section{
    margin-left: 2em;
}
header{
    margin-right: 6em;
    margin-bottom: 1em;
    margin-left: 6em;
    grid-area: main;
}
.ftoCostat{
    margin-left: 1em;
    margin-right: 1em;
}
.totto {
    display: grid;
    grid-template-areas: 'main main main dreta';
    
}
.imgeeessss{
    height: auto;
    width: 20%;
}
.imgseses {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2em;
    grid-area: dreta;
    height: auto;
    width: 20em;
    background-color: var(--fons_div);
    border-radius: 64px;
    margin-top: 1em;
    margin-bottom: 1em;
}
.imgseses img {
    height: auto;
    width: 15em;
    object-fit: cover;
    aspect-ratio: 1/1;
    object-position: center center;
    margin: 1em;
}
#noCentre {
    object-position: -2em 0;
}
#top{margin-bottom: 0;}

.aprosSection {
    display: flex;
}
.aprosSection1{
    display: flex;
    flex-direction: column;
}
.foptosps {
}
.aprosSection img {
    height: auto;
    width: 10em;
    margin-left: 1em;
    border-radius: 9px;
    margin-top: 2em;
}

.tot{
    text-align: justify;
    margin-left: 4em;
    margin-right: 4em;
    margin-bottom: 3em;
    display: flex;
    flex-direction: column;
}
.pax img {
    padding-top: 3.5em;
    padding-left: 3em;
    height: 100%;
    width: 40%;
}
.pax {
    display: flex;
}
.pax h1 {
    width: max-content;
}
p span{
    color: var(--colorPrinicpal);
    font-size: 24px;
}
ul {
    margin-top: 1em;
    marker: unset;
}
li {
    margin-top: 0.5em;
    marker: unset;
}
ul li::marker{
    content: "";
}
ul li::before {
    content: ">";
    color: var(--colorPrinicpal);
    font-size: 1em;
    background: #EDE9E9;
    border-radius: 1ch;
    padding-inline: 1ch;
    margin-inline-end: 1ch;
}
ul li ul li::before {
    content: ">>  ";
    color: var(--colorPrinicpal);
    font-size: 1em;
    background: #EDE9E9;
    border-radius: 1ch;
    padding-inline: 1ch;
    margin-inline-end: 1ch;
}
.costat {
    display: block;
    top: 10px;
    right: 0;
    position: absolute;
}
.costat-img img {
    
    height: auto;
    width: 50%;
}

@media screen and (max-width: 600px) {
    header p{
        font-family: 'Raleway', sans-serif;
        font-size: 12px;
    }
    h1{
        font-family: 'Hanken Grotesk', sans-serif;
        font-size: 64px;
        margin-left: 0.4em;
    }
    section{
        margin-left: 2em;
        margin-right: 2em;
        margin-bottom: 3em;
    }
    header{
        width: 100%;
        margin-right: 6em;
        margin-bottom: 1em;
        margin-left: 6em;
    }
    .tot{
        text-align: justify;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
    }
    p span{
        color: var(--colorPrinicpal);
        font-size: 19px;
    }
}