div {
    display: flex;
    flex-direction: column;
    margin: 2em;
}
li {
    width: 40vw;
    margin: 0;
    margin-left: 2em;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    /*cursor: wait;
    cursor: progress;*/
    cursor: pointer;
}
ul {
    margin-left: 10em;
}

.btnInp {
    width: 20vw;
}
p {
    text-align: center;
}
.hidden{
    display: none;
}