
a:link{color: aqua;}
a:visited{color: rgb(219, 219, 219);}
a:hover{color: red;}
a:active{color: yellow;}
footer{
    padding-left: 4em;
    align-content: center;
    justify-content: center;
    height: 40vh;
    background-color: rgb(77, 76, 76);
}
.missatge{
    height: 100%;
    width: 100%;
    color: white;
    background-color: rgba(0, 0, 0, 0.534);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}
.a1{
    height: 10vh;
    width: auto;
}
img{
    height: 30vh;
    width: auto;
}
.a{

    top: 35%;
    left: 35%;
    padding: 3em;
    font-size: 1.5em;
    background-color: rgba(88, 88, 88);
}
button{
    position: fixed;
    bottom: 2em;
    right: 1em;
}