footer {
    background-color: wheat;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0 7em  0 7em;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}


thead th {
    padding: 10px;
    border: 1px solid whitesmoke;
}

tbody td {
    padding: 10px;
    border: 1px solid whitesmoke;
}
tfoot td {
    padding: 10px;
    border: 1px solid whitesmoke;
    text-align: center;
}
.her {
    background-color: green;
    color: white;
    text-align: center;
    font-weight: bold;
}

.hiht {
    background-color: yellow;
}

.footer {
    background-color: greenyellow;
    color: white;
}
